<h1>Add a new IrKat cub!</h1>

<%= form_for @ir_kat do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :fur %>
        <%= f.text_field :fur %>
    </div>

    <div>
        <%= f.label :likes_ruby %>
        <%= f.text_field :likes_ruby %>
    </div>

    <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
    </div>

    <%= f.submit "Add new Irkat Cub!" %>

<% end %>

<%= link_to "Back to the list!", ir_kats_path %>
